#gamepad {
    height: 114px;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
}

.dpadBtn {
    background-color: RGBA(141, 151, 127, 1.00);
    border: 3px solid RGBA(76, 76, 76, 0.3);
    width: 45px;
    height: 45px;
    position: absolute;  
    font-family: "Arial";
    font-size: 20px;
    color: RGBA(51, 51, 51, 0.75);
    text-align: center;
    border-radius: 15px;
}

.dpadBtn:active {
    filter: brightness(90%);    
}

#left, #right {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;  
    width: 100px;  
    height: 65px;   
}

#left {
    left: 0;   
}

#right {
    right: 0; 
}

#up, #down {
    width: 125px;  
    height: 55px;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto;
}

#up {
    top: 0;
}

#down {
    bottom: 0;
}